---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import QRImage from "../assets/livecultures.svg";
import Mailto from "../components/Mailto.astro";
---

<BaseLayout>
    <div
        class="items-center duration-100 sm:hover:scale-100 md:hover:scale-105 mt-10 p-5 mx-auto w-96 flex flex-wrap shadow-2xl border border-bread-600 rounded-md"
    >
        <div class="w-full pt-20"></div>
        <div
            style="position:relative;left:-40px"
            class="h-36 w-36 font-mono flex flex-col text-center justify-center shadow-xl flex-wrap rounded-full bg-black text-white font-bold"
        >
            <span class="text-4xl">Free</span>
            <span class="text-sm">Workshop</span>
        </div>
        <div class="grow text-3xl">
            <h1 class="font-bold">Sourdough</h1>
            <h1 class="font-bold">Kefir &</h1>
            <h1 class="font-bold">Kombucha</h1>
        </div>
        <div class="text-lg pt-10">What do you get ?</div>
        <div class="bg-bread-950 grow h-px ml-5 mt-10"></div>
        <ul
            class="text-xs w-full list-disc px-5 mt-1 border border-bread-950 border-t-0 border-b-0"
        >
            <li>How to maintaint your Kefir grains</li>
            <li>Kefir ( milk based ) tasting</li>
            <li>How to feed your bread starter</li>
            <li>Free homemade sourdough bread</li>
        </ul>
        <div class="text-lg pt-3">What can you bring ?</div>
        <div class="bg-bread-950 grow h-px ml-5 mt-3"></div>
        <ul
            class="w-full text-xs list-disc px-5 mt-1 border border-bread-950 border-t-0 border-b-0"
        >
            <li>Butter</li>
            <li>Honey</li>
            <li>Something to drink</li>
        </ul>
        <div class="w-full h-px bg-bread-950 mt-4"></div>
        <span class="w-full text-center pt-5 text-xs">
            <strong>When ?</strong> Sunday, 19 Nov. 6pm
        </span>
        <span class="w-full text-center text-xs">
            <strong> Where ?</strong>
             To be defined
        </span>
        <span class="w-full text-center text-xs">
            <strong> RSVP ?</strong>
             email us at <Mailto
                body="Hi, my name is {your name}. I would like to assist to the 19/11/23 live cultures workshop."
                subject="19/11/23 Workshop Confirmation"
            />
        </span>
        <div class="w-full pt-20"></div>
    </div>
    <div class="flex justify-center pt-10">
        <div class="flex flex-col text-xs justify-center pr-5">
            <p>You don't have time to join us ?</p>
            <p>Don't worry, check our content</p>
        </div>
        <Image src={QRImage} alt="QR link" width="100" height="100" />
    </div>
</BaseLayout>
