<div aria-labelledby="header" class="relative overflow-hidden">
  <h2 class="sr-only" id="header">Header</h2>
  <div
    class="text-bread-950 relative mx-auto px-8 max-w-7xl p-24 lg:px-36 md:px-12"
  >
    <div class="mx-auto text-center">
      <h1 class="pb-5 mt-4 font-bold md:text-6xl text-3xl tracking-tight">
        Live Cultures
      </h1>
      <p>
        Tired of buy always something that you can create at home, but, you are
        still missing the most important piece, the starter kit. Here you will
        find starters to make sourdought bread and kefir ( milk based ).
      </p>
    </div>
  </div>
</div>
